<div class="tree-demo-app">
     <!-- <div class="tree-container">
    <p class="tree-title">分销平台树</p>
    <p class="notice">异步加载</p>
    <tree [tree]="pls" [settings]="settings" (nodeRemoved)="onNodeRemoved($event)" (nodeRenamed)="onNodeRenamed($event)" (nodeSelected)="onNodeSelected($event)"
      (nodeMoved)="onNodeMoved($event)" (nodeCreated)="onNodeCreated($event)">
    </tree>
  </div>    -->

      <div class="tree-container">
    <p class="tree-title">营销通后台</p>
    <p class="notice">有树根、子叶异步加载</p>
    <tree [tree]="fonts" (nodeRemoved)="onNodeRemoved($event)" (nodeRenamed)="onNodeRenamed($event)" (nodeSelected)="onNodeSelected($event)"
      (nodeMoved)="onNodeMoved($event)" (nodeCreated)="onNodeCreated($event)" (nodeExpanded)="onNodeExpanded($event)" (nodeCollapsed)="onNodeCollapsed($event)">
    </tree>
  </div>    

  <!-- <div class="tree-container">
    <p class="tree-title">分销平台（目录/文件结构）</p>
    <p class="notice">高级配置（添加awesome图标）</p>
    <tree [tree]="dfs" (nodeRemoved)="onNodeRemoved($event)" (nodeRenamed)="onNodeRenamed($event)" (nodeSelected)="onNodeSelected($event)"
      (nodeMoved)="onNodeMoved($event)" (nodeCreated)="onNodeCreated($event)" (nodeExpanded)="onNodeExpanded($event)" (nodeCollapsed)="onNodeCollapsed($event)">
    </tree>
  </div> -->
</div>